.ant-table-container {
  height: calc(100vh - 302px);
}

.ant-layout-header {
  background: #ff0000 !important;
  z-index: 1111 !important;
}

.xeat_logo {
  height: 80px;
  float: left;
}
.ant-select-dropdown .addScroll {
  max-height: 100px !important;
  overflow: auto;
}

.ant-drawer-content-wrapper {
  z-index: 2222 !important;
}
